body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: black;
  width: 100%;
  color: white;
}

.nav-bar {
  background-color: rgb(1, 58, 80);
  border-radius: 50px;
  color: white;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar input {
  border-radius: 15px;
  height: 30px;
  border: 3px solid rgb(3, 246, 233);
  padding: 5px;
  width: 100px;
}
.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar li {
  padding: 10px 20px;
  margin-left: 40px;
}
.nav-bar li:hover {
  color: red;
  cursor: pointer;
}

#logo {
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-right: 110px;
}
#search {
  width: 80;
  height: 15px;
}
#section-introduction {
  width: 100%;
  height: 100vh;
  color: white;
}
#section-second {
  color: white;
}
.hero-content {
  width: 70%;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row wrap;
  flex-flow: row;
}

.intro-text {
  width: 50%;
  margin-left: 140px;
  margin-top: 200px;
  color: white;
  font-weight: 400px;
}

.image-div {
  margin-top: 23em;
}
#intro-img {
  margin-bottom: 150px;
  margin-left: 10em;
}

.head-1 {
  font-size: 20px;
}
.head-2 {
  font-size: 50px;
  width: 600px;
  color: rgb(168, 168, 246);
}

.head-3 {
  font-size: 20px;
}
.butt-first {
  background-color: white;
  height: 30px;
  width: 60px;
  border-radius: 20px;
}
.butt-first:hover {
  color: white;
  background-color: rgb(100, 100, 238);
  cursor: pointer;
}
.sect-second {
  display: flex;
  width: 100%;
  flex-direction: row wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.button {
  width: 80px;
  height: 25px;
  border-radius: 15px;
  background-color: white;
}
.button:hover {
  color: white;
  background-color: rgb(133, 133, 244);
  cursor: pointer;
}
.what-develope {
  width: 300px;
  height: 300px;
}

.perso-img {
  height: 300px;
  width: 300px;
  border-radius: 100px;
}
.biss-img {
  height: 300px;
  width: 300px;
  border-radius: 100px;
}
.educa-img {
  height: 300px;
  width: 300px;
  border-radius: 100px;
}
#sec-thrd {
  color: white;
  flex-wrap: wrap;
}
.main-sec {
  display: flex;
  margin-left: 100px;
}

.experience {
  width: 600px;
  margin-top: 130px;
}
.exper-h2 {
  font-size: 35px;
  font-style: oblique;
  color: rgb(240, 240, 70);
}
.exper-para {
  font-style: italic;
}
.what-do {
  color: rgb(182, 182, 251);
  margin-top: 150px;
}
.perso-text {
  color: rgb(24, 191, 183);
}
.biss-text {
  color: rgb(241, 109, 109);
}
.educa-text {
  color: rgb(156, 110, 175);
}
#sec-fourth {
  color: white;
  flex-wrap: wrap;
}
.peoples-1 {
  width: 100px;
  border-radius: 50%;
}
.peoples-2 {
  width: 60px;
  border-radius: 50%;
}
.peoples-3 {
  width: 30px;
  border-radius: 50%;
}
.peoples-what {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.peop-feed {
  text-align: center;
  color: rgb(237, 231, 48);
  font-size: 30px;
  font-style: calc();
}
.feedbag-parag {
  font-style: inherit;
  text-align: center;
}
#sec-fifth {
  color: white;
  font-weight: 100;
  flex-wrap: wrap;
}
.locat-icon {
  font-size: 50px;
}
.butt-more {
  padding: 8px 20px;
  border-radius: 20px;
  height: 30px;
  border-color: darkblue;
}
.butt-more:hover {
  color: white;
  background-color: rgb(55, 158, 248);
  cursor: pointer;
}
.contact-me {
  text-align: center;
  font-size: 30px;
  color: #fb5d5d;
  font-size: 30px;
}
.div-main-last {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
}
.info i {
  font-size: 35px;
  color: rgb(244, 123, 86);
  margin-left: 25px;
}
.last-info {
  font-size: 25px;
  margin: 30px;
}
.div-main-last i:hover {
  color: orange;
  cursor: pointer;
}
.latest-project {
  font-size: 50px;
  text-align: center;
  color: rgb(26, 194, 200);
  font-weight: 300;
}
.latest-proj-img {
  height: 100vh;
  width: 100%;
  font-weight: bolder;
}
.company-main-div {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  color: rgb(238, 26, 19);
}
.offer-skill {
  background-image: url(../assets/teaching-code.jpg);
  width: 450px;
  height: 500px;
  border-radius: 50px;
}
.offer-job {
  background-image: url(../assets/jobs.webp);
  width: 450px;
  height: 500px;
  border-radius: 50px;
  margin-left: 50px;
}
.offer-text {
  font-size: 30px;
  padding-top: 425px;
  padding-left: 30px;
  width: 500px;
}
.job-text {
  font-size: 30px;
  padding-top: 425px;
  padding-left: 20px;
  width: 500px;
}

.container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  flex-wrap: wrap;
}
.profile-box {
  background-color: #ff574a;
  text-align: center;
  padding: 40px 90px;
  color: #fff;
  position: relative;
  border-radius: 20px;
}
.menu-icon {
  width: 25px;
  position: absolute;
  left: 40px;
  top: 40px;
}
.setting-icon {
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}
.profile-icon {
  width: 150px;
  border-radius: 50%;
  padding: 6px;
  background-color: #fff;
  margin-top: 40px;
}
.profile-bottom {
  background: #fff;
  color: #999;
  padding-bottom: 20px;
  margin-right: -90px;
  margin-left: -90px;
  margin-bottom: -40px;
  border-radius: 20px;
}
.profile-bottom img {
  width: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.profile-box button {
  background: #fff;
  color: #ff574a;
  border: none;
  outline: none;
  box-shadow: 0px 5px 10px rgba(244, 67, 54, 0.5);
  padding: 15px 60px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: -50px;
  font-weight: 600;
  font-size: 16px;
}
.name-h3 {
  font-size: 20px;
  margin-top: 30px 5px;
  font-weight: 500;
}
.social-media img {
  width: 20px;
  margin: 30px 5px;
  cursor: pointer;
}
.nav-bar-bottom {
  background-color: rgb(1, 58, 80);
  border-radius: 50px;
  color: white;
  height: 50px;
}
.nav-bar-bottom ul,
li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  :hover{
    color: rgb(4, 222, 255);
  }
}
#icon-bottom{
  font-size: 30px;
  padding-left: 10px;
}
